xelfi.dtd

<!ELEMENT jnlp (information,offline-allowed,shortcut,resources,application-desc)>
<!ATTLIST jnlp spec CDATA #REQUIRED>
<!ATTLIST jnlp codebase CDATA #REQUIRED>
<!ATTLIST jnlp href NMTOKEN #REQUIRED>
<!ELEMENT information (title,vendor,description+,offline-allowed)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT vendor (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST description kind NMTOKEN #IMPLIED>
<!ELEMENT offline-allowed EMPTY>
<!ELEMENT shortcut EMPTY>
<!ATTLIST shortcut online NMTOKEN #REQUIRED>
<!ELEMENT resources (j2se,jar+)>
<!ELEMENT j2se EMPTY>
<!ATTLIST j2se version CDATA #REQUIRED>
<!ELEMENT jar EMPTY>
<!ATTLIST jar href CDATA #REQUIRED>
<!ATTLIST jar main NMTOKEN #IMPLIED>
<!ELEMENT application-desc EMPTY>
<!ATTLIST application-desc main-class NMTOKEN #REQUIRED>